@use '../constants/colors.scss';
@use '../constants/fonts.scss';
@use '../advise/advise.scss';

.two-pic-advise {
  margin: 0 0 80px;

  &__picture-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__picture-item {
    max-width: 394px;
    margin: 0 0 40px;
  }
}

@media screen and (min-width: 825px) {
  .two-pic-advise {
    &__picture-container {
      flex-direction: row;
      justify-content: space-between;
    }

    &__picture-item {
      max-width: 468px;
      margin: 0 60px 0 0;

      &:last-of-type {
        margin: 0;
      }
    }

    &__title {
      max-width: 720px;
    }

    &__description {
      max-width: 970px;
    }
  }
}
