$bg-white: #fff;
$bg-light-blue: #f3f9ff;
$bg-deep-blue: #002869;
$bg-pale-blue: #545ed7;
$bg-brick-red: #de383f;
$txt-white: #fff;
$txt-black: #000f27;
$txt-blue: #545ed7;
$marks-blue: rgba(84, 94, 215, 0.2);
