@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.comfort__wheels {
  width: 100%;
  margin: 0 0 80px;
  padding: 40px 0 20px;
  background-color: colors.$bg-white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &-title {
    width: 95%;
    margin: 0 0 30px;
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    color: colors.$txt-black;
  }

  &-description {
    width: 95%;
    margin: 0 0 50px;
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: colors.$txt-black;
  }

  &-container_mobile {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &-subtitle_mobile {
    align-self: flex-start;
    margin: 0 0 40px;
    padding: 0;
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: colors.$txt-black;
  }

  &-buttons_mobile {
    width: 100%;
    margin: 0 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-button_mobile {
    width: 100%;
    height: 58px;
    margin: 0 20px 0 0;
    border: 1px solid colors.$border-gray;
    border-radius: 10px;

    &_active {
      background-color: colors.$bg-button-active-blue;
      border: 1px solid colors.$bg-button-active-blue;
    }
  }

  &-button-text_mobile {
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: colors.$txt-black;
    text-align: center;
  }

  &-compare_mobile {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &-item_mobile {
    width: 100%;
    margin: 0 0 20px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:last-of-type {
      margin: 0;
    }
  }

  &-value_mobile {
    width: 105px;
    margin: 0 30px 0 0;
    padding: 0;
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: colors.$txt-black;
  }

  &-value-list_mobile {
    margin: 0;
    padding: 0;
  }
}
