@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.choise {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &_model {
    margin: 65px 0 80px;
  }

  &_dimension {
    margin: 0 0 80px;
  }

  &_weight {
    margin: 0 0 50px;
  }

  &_comfort {
    margin: 0 0 50px;
  }

  &__icon {
    width: 47px;
    height: 50px;
    margin: 0 0 30px;
  }

  &__text-container {
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 30px;
    width: 100%;
    max-width: 389px;
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: colors.$txt-black;
  }

  &__subtitle {
    margin: 0 0 30px;
    width: 100%;
    max-width: 317px;
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: colors.$txt-black;
  }

  &__description {
    margin: 0;
    width: 100%;
    font-family: fonts.$base-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: colors.$txt-black;
  }
}

@media screen and (min-width: 768px) {
  .choise {
    width: 100;
    max-width: 1200px;
    flex-direction: row;

    &_model {
      margin: 65px 0 100px;
    }

    &__icon {
      margin: 0 55px 0 0;
    }

    &__title {
      max-width: 755px;
      margin: 0 0 30px;
      font-size: 36px;
      line-height: 140%;
    }

    &__subtitle {
      margin: 0 0 30px;
      max-width: unset;
      font-size: 28px;
    }
  }
}
